--
-- PostgreSQL database cluster dump
--

\restrict P23m1HXWZQxlVYLRADQJWhlOjKggTnQfFzwgABDevrwbrYw7kOZNzVX4EtFIpQ1

SET default_transaction_read_only = off;

SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;

--
-- Drop databases (except postgres and template1)
--

DROP DATABASE ata_crm;




--
-- Drop roles
--

DROP ROLE postgres;


--
-- Roles
--

CREATE ROLE postgres;
ALTER ROLE postgres WITH SUPERUSER INHERIT CREATEROLE CREATEDB LOGIN REPLICATION BYPASSRLS PASSWORD 'SCRAM-SHA-256$4096:3gDPcxFO7VwnzXc0nZyTFQ==$/ychjV599zYmVnFgEhHkRN5VVeuKExVr9wXdPiEOWOA=:HUscxUACQe3R3XwSDXS9+6c5NNa0xWvZ8y5VziEhUJ8=';

--
-- User Configurations
--








\unrestrict P23m1HXWZQxlVYLRADQJWhlOjKggTnQfFzwgABDevrwbrYw7kOZNzVX4EtFIpQ1

--
-- Databases
--

--
-- Database "template1" dump
--

--
-- PostgreSQL database dump
--

\restrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

UPDATE pg_catalog.pg_database SET datistemplate = false WHERE datname = 'template1';
DROP DATABASE template1;
--
-- Name: template1; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE template1 WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE template1 OWNER TO postgres;

\unrestrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh
\connect template1
\restrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE template1 IS 'default template for new databases';


--
-- Name: template1; Type: DATABASE PROPERTIES; Schema: -; Owner: postgres
--

ALTER DATABASE template1 IS_TEMPLATE = true;


\unrestrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh
\connect template1
\restrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE template1; Type: ACL; Schema: -; Owner: postgres
--

REVOKE CONNECT,TEMPORARY ON DATABASE template1 FROM PUBLIC;
GRANT CONNECT ON DATABASE template1 TO PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict d5Xg7vhGccxDZJM5K8FZ1rxrLsr4qrECuNxnSnCUZcKCa8PDvcN12lTUpGdlleh

--
-- Database "ata_crm" dump
--

--
-- PostgreSQL database dump
--

\restrict xcjQQZaCMYnFKbIV1T79BvNMoioKpqoTNnoE7QKwRBWaSz3piNcayftplsRTdJM

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ata_crm; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE ata_crm WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE ata_crm OWNER TO postgres;

\unrestrict xcjQQZaCMYnFKbIV1T79BvNMoioKpqoTNnoE7QKwRBWaSz3piNcayftplsRTdJM
\connect ata_crm
\restrict xcjQQZaCMYnFKbIV1T79BvNMoioKpqoTNnoE7QKwRBWaSz3piNcayftplsRTdJM

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- PostgreSQL database dump complete
--

\unrestrict xcjQQZaCMYnFKbIV1T79BvNMoioKpqoTNnoE7QKwRBWaSz3piNcayftplsRTdJM

--
-- Database "postgres" dump
--

--
-- PostgreSQL database dump
--

\restrict yqACjs8uwGODSeiJQIDS1SuMMKeVEGyEudzPzPsh8pD4mYp57O7h8hZ8iulkw4v

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE postgres;
--
-- Name: postgres; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE postgres WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE postgres OWNER TO postgres;

\unrestrict yqACjs8uwGODSeiJQIDS1SuMMKeVEGyEudzPzPsh8pD4mYp57O7h8hZ8iulkw4v
\connect postgres
\restrict yqACjs8uwGODSeiJQIDS1SuMMKeVEGyEudzPzPsh8pD4mYp57O7h8hZ8iulkw4v

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: DATABASE postgres; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON DATABASE postgres IS 'default administrative connection database';


--
-- PostgreSQL database dump complete
--

\unrestrict yqACjs8uwGODSeiJQIDS1SuMMKeVEGyEudzPzPsh8pD4mYp57O7h8hZ8iulkw4v

--
-- PostgreSQL database cluster dump complete
--

